.footer-section {
  background: #009645;
  color: #fff;
  padding: 40px 0;
  position: relative;
  margin-top: 4rem;

  .footer_heading {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
  }

  .contact-title,
  .download-title {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
    span {
      font-size: 14px;
    }
  }

  .phone-number {
    font-size: 14px;
    margin-left: 28px;
    margin-bottom: 8px;
  }

  .footer-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px !important;
    position: relative;
  }

  .footer-title::after {
    content: "";
    display: block;
    width:100px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 6px 0;
      list-style-type:disc;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .last_foote_title{
    position: relative;
  }
  .capsule_svg{
    position: absolute;
    top: -65px;
    right: 30px;

  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  .footer-logo-col ul li {
    list-style-type: none;
  }
  .footer_bottom_nav{
   display: none;
  }
}


@media (min-width: 0px) and (max-width: 576px) {
  // responsive footer
  .top-container {
   display: none !important
  }
.footer_bottom_nav{
  display: block !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0 0;
  z-index: 1;
 overflow: hidden;

  .nav-link {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;

  .home_svg,.massage_svg,.buy_svg,.footer_user_svg{
    padding: 2px;
    background-color: green !important;
    border-radius: 100%;
    }

    &:hover {
      color: #0a9447;
      font-weight: 600;

     .home_svg,.massage_svg,.buy_svg,.footer_user_svg {
      width: 45px;
      height: 45px;
        background: #0a9447;
        color: #fff;
        border-radius: 50%;
        padding: 6px;
        transform: translateY(-12px);
        transition: ease 0.2s;
        overflow: hidden;
      }
    }
  }
}

}









