.pads-section {
  margin-top: 4rem;
  padding: 20px 0;

  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 16px;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    h2 {
      font-size: 22px;
      font-weight: 700;
      color: #111;

      .highlight {
        color: #22c55e;
      }
    }

    .view-all {
      font-size: 14px;
      color: #22c55e;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #16a34a;
      }
    }
  }

  /* Swiper */
  .pads-swiper {
    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .pad-card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 280px;
      align-items: center;
      background: #fff;
      border-radius: 12px;
      border: 1px solid #eee;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;
      margin-top: 5px;
    
      cursor: pointer;

      &:hover {
        box-shadow: 0 6px 18px #00000026;
        transform: translateY(-4px);
        border: 2px solid #22c55e;
      }

      .badge {
        position: absolute;
        top: 0;
        right: 0;
        background: #facc15;
        color: #111;
        font-size: 12px;
        font-weight: 700;
        padding: 6px 10px;
        border-bottom-left-radius: 61px;
        border-top-right-radius: 50px;
      }

      .pad-thumb {
        width: 150px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        margin: auto;
        .pad_image {
          object-fit: contain;
          overflow: hidden;
          margin-top: 70px;
        }
      }

      .badge_image_wrapper{
         width: 100%;
         height: 190px;
         background-color: #f3f2f2;
         border-top-left-radius: 5%;
         border-top-right-radius: 5%;
      }

      .text_content_wrapper{
        margin-left: -113px;
        margin-top: 10px;
      }

      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #222;
        margin-bottom: 6px;
        margin-left: -23px;
        text-align: center;
      }

      .price-section {
        display: flex;
        gap: 6px;
        align-items: left;
        margin-bottom: 4px;
        .price {
          font-size: 15px;
          font-weight: 700;
          color: #111;
        }

        .old-price {
          font-size: 13px;
          color: #999;
          text-decoration: line-through;
        }
      }

      .save {
        font-size: 13px;
        font-weight: 700;
        color: #22c55e;
      }
    }
  }
}
